@page "/detailsstudent/{id}"

<h3> Details Student </h3><br>

<p>NIM : @Student.studentID</p>
<p>Nama Belakang : @Student.lastName</p>
<p>Nama Depan : @Student.firstName</p>
<p>Tanggal Masuk : @Student.enrollmentDate</p>

<a class="btn btn-link" href="@($"editstudent/{Student.studentID}")" role="button">Edit</a> 
<a class="btn btn-link" href="studentpage" role="button">Back To List</a>